.card-list {
  max-width: 600px;
  flex: 1 1 0;
  margin: 0 9rem;
}

@media (max-width: 1024px) {
  .card-list {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card-list {
    margin: 0; /* Убираем центрирование на маленьких экранах */
  }
}

.card-list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-list-item {
  margin-bottom: 1rem;
}

.card-list-item:last-child {
  margin-bottom: 0;
}
