.password-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.password-list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-list-item {
  margin-bottom: 1rem;
}

.password-list-item:last-child {
  margin-bottom: 0;
}
