.password-list {
  max-width: 600px;
  padding: 1rem;
  flex: 1 1 0;
  margin: 0 9rem;
}

@media (max-width: 1024px) {
  .password-list {
    margin: 0; /* Убираем центрирование на средних экранах */
  }
}

@media (max-width: 768px) {
  .password-list {
    margin: 0; /* Убираем центрирование на маленьких экранах */
  }
}

.password-list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-list-item {
  margin-bottom: 1rem;
}

.password-list-item:last-child {
  margin-bottom: 0;
}
