.password-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 2rem;
  height: 4rem;
  border-bottom: 2px solid #e5e7eb;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.password-item:hover {
  background-color: #e5e7eb;
}

.app-icon {
  flex-shrink: 0;
}

.default-icon {
  width: 2rem;
  height: 2rem;
}

.app-name {
  flex-grow: 1; /* Позволяет названию приложения занимать доступное пространство */
  text-overflow: ellipsis; /* Добавляет многоточие к обрезанному тексту */
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  overflow: hidden; /* Скрывает текст, который не помещается */
  max-width: 200px;
}

.password-field input {
  flex-shrink: 0;
  width: 8rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #374151;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.password-field input:focus {
  border-color: #bfdbfe;
}

.password-actions {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0; /* Предотвращает сжатие кнопок действий */
}

.password-toggle,
.copy-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.password-toggle:hover,
.copy-password:hover {
  background-color: #e5e7eb;
  border-radius: 0.25rem;
}

.eye-icon,
.copy-icon,
.open-link {
  width: 1.25rem;
  height: 1.25rem;
}

.open-link {
  cursor: pointer;
}
