.container {
  background-color: rgb(100 116 139); /* bg-slate-500 */
  padding: 0;
}

.nav {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
}

.leftSection {
  padding-left: 1rem;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
}

.link {
  font-weight: 500;
  color: #f7fafc; /* text-slate-50 */
  text-decoration: none;
}

.link:hover {
  color: #cbd5e1; /* hover:text-slate-200 */
}
