.password-generator {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.password-generator .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-generator h2 {
  text-align: center;
  margin-bottom: 20px;
}

.password-generator label {
  display: block;
  margin-bottom: 10px;
}

.password-generator input[type="range"] {
  width: 80%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.password-generator input[type="checkbox"] {
  margin-right: 5px;
}

.password-generator .gen-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-generator .gen-button:hover {
  background-color: #45a049;
}

.input-with-copy {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
}

.input-with-copy .my-input {
  flex: 1;
  border: none;
  border-radius: 0;
}
