* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
select,
button {
  appearance: none;
  -webkit-appearance: none;
}
